header{
    display: flex;
    justify-content: space-between;
    background: #131313;
    height: 150px;
    font-size: 1.2 rem;
    position: sticky; 
    top: 0;
    z-index: 999;
}

.color{
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100% );
    background-size: 100%; 
    -webkit-background-clip: text; 
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color : transparent; 
    cursor: pointer;
    font-size: 3rem;
    text-decoration: none;
    margin: -40px 0px 0px 0px;
}

.corner{
    display :flex; 
    margin: 40px;
    

}
.corner>a>:hover{
color: #9518fc;
transition: all 0.3s ease;
}

.home , .about, .services, .signup{
    text-decoration: none;
    margin: 10px 15px;
    
}
.home>a , .about>a, .services>a{
    color: white;
    align-items: center;
    text-decoration: none;
    height: 100%;
    font-size: 2rem;
    
}
.signup>a{
    display: flex;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    height: 100%;
    font-size: 2rem;
    border: none;
    outline: none;
    background: #833ab4;
    background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    background: linear-gradient(to right ,#fcb045, #fd1d1d, #833ab4);
    color: #fff;
    transition: all 0.3s ease;

}